* {
    padding: 0;
    margin: 0;
}

div {
    width: 400px;
    height: auto;

    padding: 20px;

    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);

    border-radius: 5px;
    background-color: rgba(216, 216, 216, 0.575);
}
/*
 *.download {
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: space-between;

    background-color: rgb(116, 114, 114);
}
.container1{
    width: 150px;
    text-align: center;
    align-items: center;
    justify-content: start;
}
.container2{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.downl {
    width: 100px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    
    border-radius: 5px;
    background-color: rgb(66, 182, 66);
}

.downl > a {
    color: #fff;
}
*/
h1, p {
    text-align: center;
}

p {
    padding-top: 10px;
}

button {
    padding: 7px 10px;
}
a {
    font-weight: 900;
    color: black;
    text-decoration: none;
}