
.infos {
    width: 600px;
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 20px;

    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%);

    border-radius: 5px;
    background-color: rgba(177, 177, 177, 0.37);
}
.foto {
    width: 140px;
}

.lista {
    width: 400px;
    
    
    border-radius: 5px;
    background-color: azure;
}
ul {
    display: flex;
    flex-direction: row;
    text-align: center;
}
li{
    list-style: none;
}

a {
    color: blue;
    text-decoration: none;
}
img {
    width: 30px;
    padding-right: 5px;
}